<template>
  <div id="app">
    <transition name="item-transform-top" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.item-transform-top-enter-active,
.item-transform-top-leave-active {
  transition: 0.25s ease-out;
}
.item-transform-top-enter,
.item-transform-top-leave-to {
  opacity: 0;
  transform: translateY(5px);
}
</style>
