<template>
  <div>
    <h1>{{ msg }}</h1>
    <div class="container">
      <router-link :to="{ name: 'user' }"
        ><a><span>See Users</span></a></router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hello',
  data() {
    return {
      msg: 'Here you can change page to see users',
    };
  },
};
</script>
