<template>
  <div>
    <div class="container pt-3">
      <h2>Find User</h2>
      <form class=" mb-3">
        <div class="form-group">
          <label for="search">Name</label>
          <input type="text" id="search" class="form-control" v-model="name" />
        </div>
        <button class="btn btn-success" @click.prevent="findByUser(name)">
          Search
        </button>
      </form>
      <h2 class="mt-5">Add User</h2>
      <form class="form-inline mb-3">
        <div class="form-group mr-3">
          <label for="name" class="mr-1">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            v-model="CreatedUser.name"
          />
        </div>
        <div class="form-group mr-3">
          <label for="position" class="mr-1">Position</label>
          <input
            type="text"
            class="form-control"
            id="position"
            v-model="CreatedUser.position"
          />
        </div>
        <div class="form-group mr-3">
          <label for="age" class="mr-1">Age</label>
          <input
            type="text"
            class="form-control"
            id="age"
            v-model="CreatedUser.age"
          />
        </div>
        <button
          class="btn btn-primary mr-1"
          type="submit"
          @click.prevent="createUser"
        >
          Create
        </button>
        <button
          class="btn btn-success mr-1"
          type="submit"
          :disabled="disable"
          @click.prevent="EditUserMethod(...EditableUser)"
        >
          Update
        </button>
        <button class="btn btn-danger" @click.prevent="clearData">
          Clear
        </button>
      </form>

      <div class="row" v-if="Users.length">
        <div class="col-lg-4" v-for="(user, idx) in Users" :key="idx">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ user.name }}</h5>
              <p class="card-text">{{ user.position }}</p>
              <p class="card-text">{{ user.age }}</p>
              <button
                class="btn btn-primary mr-2"
                @click.prevent="
                  EditUser(user._id, user.name, user.position, user.age)
                "
              >
                Change
              </button>
              <button
                class="btn btn-danger"
                @click.prevent="deleteUser(user._id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <p v-else>Nothing Found</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'user',
  data() {
    return {
      Users: [],
      CreatedUser: {
        name: '',
        age: '',
        position: '',
      },
      name: '',
      disable: true,
      EditableUser: [],
    };
  },
  mounted() {
    axios
      .get('http://localhost:8080/users', {})
      .then((response) => {
        console.log(response.data);
        this.Users = response.data;
      })
      .catch((error) => {
        console.log(error.message);
      });
  },

  methods: {
    clearData() {
      this.CreatedUser.position = this.CreatedUser.name = this.CreatedUser.age =
        '';
    },
    createUser() {
      let newUser = {
        name: this.CreatedUser.name,
        position: this.CreatedUser.position,
        age: this.CreatedUser.age,
      };
      console.log(newUser);
      axios
        .post('http://localhost:8080/users/create', newUser)
        .then((response) => {
          this.Users.push(newUser);
          console.log(response);
        })
        .catch((error) => {
          console.log(error.message);
        });
    },
    deleteUser(_id) {
      console.log(_id);

      axios
        .delete('http://localhost:8080/users/remove', { data: { _id: _id } })
        .then((response) => {
          this.Users = this.Users.filter((c) => c._id !== _id);
          console.log(response);
        })
        .catch((error) => {
          console.log(error.message);
        });
    },
    findByUser(name) {
      let searchResult = [];
      axios
        .get(`http://localhost:8080/users/find?name=${name}`)
        .then((response) => {
          searchResult = this.Users.filter(
            (user) => !user.name.indexOf(this.name)
          );
          console.log(response);
          this.Users = searchResult;
          return searchResult;
        });
    },
    EditUser(_id, name, position, age) {
      this.CreatedUser.name = name;
      this.CreatedUser.position = position;
      this.CreatedUser.age = age;
      this.disable = false;
      let NewEditableUser = {
        id: _id,
        name: name,
        position: position,
        age: age,
      };
      this.EditableUser.push(NewEditableUser);
    },
    EditUserMethod(...NewEditableUser) {
      let editedUser = {
        id: NewEditableUser[0].id,
        name: this.CreatedUser.name,
        position: this.CreatedUser.position,
        age: this.CreatedUser.age,
      };
      console.log(editedUser);
      console.log(this.Users);

      axios
        .put('http://localhost:8080/users/update', editedUser)
        .then((response) => {
          console.log(response);
          window.location.reload();
        });
    },
  },
};
</script>
